@(form: Form[User])

@main(title = "Sign Up") {
    @validations(form)
    <h1>Sign Up</h1>

    @helper.form(action = routes.UserController.save) {
        <div class="form-group">
            @helper.inputText(form("email"), '_showConstraints -> false, '_label -> "Email", 'placeholder -> "Email", 'class -> "form-control")
        </div>
        <div class="form-group">
            @helper.inputPassword(form("password"), '_showConstraints -> false, '_label -> "Password", 'placeholder -> "Password", 'class -> "form-control")
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    }

}

